<ion-content>
  <div style="display: flex" class="ion-align-items-center ion-justify-content-between">
    <div class="points-counter">Puntos: {{ points }}</div>
    <div class="nombre">Jugador: {{ nombre }}</div>
  </div>
  <ion-card>
    <ion-text class="centered-title">{{ currentQuestion }}</ion-text>
  </ion-card>
  <ion-img [src]="currentImage" alt="Imagen de la pregunta" class="question-image"></ion-img>
  <div class="button-container">
    <ion-button expand="block" class="big-button-green" (click)="answerQuestion(true)">Verdadero</ion-button>
    <ion-button expand="block" class="big-button-red" (click)="answerQuestion(false)">Falso</ion-button>
  </div>
</ion-content>

<ion-toast
  id="toastVerdadero"
  message="¡Respuesta correcta!"
  duration="1000"
  position="top"
  color="success"
></ion-toast>

<ion-toast
  id="toastFallo"
  message="Respuesta incorrecta..."
  duration="1000"
  position="top"
  color="danger"
></ion-toast>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title>¿Cómo te llamas?</ion-title>
      </ion-toolbar>
      <div style="display: flex; padding: 20px; margin: 0 auto;" class="ion-align-items-center">
        <ion-label>Tu nombre: </ion-label>
        <ion-input [(ngModel)]="this.nombre" (keydown.enter)="ngOnInit()"></ion-input>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
