<ion-content [fullscreen]="true">
  <div class="contenido">
    <ion-text class="titulo">BIENVENIDO AL VERDADERO FALSO SOBRE JOSÉ IGNACIO DE LOYOLA</ion-text>
    <ion-img style="width: 5%;" src="assets/icon/logoImagen.png" alt="Logo Imagen" class="imagen"></ion-img>
    <ion-button expand="block" (click)="navigateToPrimaria()">Edición primaria</ion-button>
    <ion-button expand="block" (click)="navigateToEso()">Edición secundaria</ion-button>
    <ion-img style="width: 15%;" src="assets/saint-ignatius-of-loyola-colored-illustration-vector.jpg" alt="Logo Imagen" class="imagen"></ion-img>
  </div>
</ion-content>
